/*Styles for max width 768px*/

/*Styles for min width 1200px*/
body {
    background: whitesmoke;
}

header {
    height: 10vh;
    min-width: 100vh;
    background: #fff;
    box-shadow: 1px 1px 20px #d6d6d6, 0.5px 0.5px 1px 0px #e9e9e9 inset;
    border-radius: 0 0 5px 5px;
    display: flex;
}

header .logo {

    position: relative;
    left: 0.5%;
    height: 100%;
    width: 13%;
    border: 2px solid red;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 15px;




}



main img {
    max-width: 100vh;
    max-height: 100vh;
}